
.solo {
  background-color: orange !important ;
  border-color: white;
}

.muted {
  background-color: orange !important ;
  border-color: white;
}

.error{
  background-color: rgb(255, 0, 0);
  opacity: .25;
}

.warning{
  background-color: hwb(62 0% 4%);
  opacity: .25;
}

.ready{
  
  border-color: #ffffff;
  opacity: .9;
  background-color: #6b6a6a; 
}

.playback{
  background-color: #ff0000;
}

.connect{
  border-color: #ff9900;
  background-color: #000000; 
}

.recording{
  border-color: #ff9900  !important ;
  background-color: #b7ff00  !important ; 
}


.container .trackCard{
  width: 110px;
  border-radius: 15px;
  
  border-style: solid;
  border-width: 1px;
  
  margin: 3px;
  padding: 3px;
}

.trackTable{
  
  max-width: 100px;
  text-align: center;
}

.muted{
  background-color: rgb(106, 5, 247);
}

.solo{
  background-color: rgb(57, 33, 152);
}

